{% extends 'base.html' %}

{% block body %}
        <p>Welcome to Pizza Maker</p>
        <h2>Available Toppings</h2>
    <a class="'btn" href="/topping/add">Add Topping</a>
    <a class="'btn" href="/pizza/add">Add Pizza</a>
        {% for data in fetchit %}    
        <tr>
            <td>{{ data.id }}</td>
            <td><form action="" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <a href="/edit_topping/{{data.id}}/"> Topping</a>
              </form></td>
        </tr>
    {% endfor %}
{% endblock %}
